<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.betterlife">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterLife">
        <activity
            android:name=".GarbageTest"
            android:exported="true" />
        <activity
            android:name=".PotholeTest"
            android:exported="true" />
        <activity
            android:name=".ModelSelection"
            android:exported="true" />
        <activity
            android:name=".MenuScreen"
            android:exported="true" />
        <activity
            android:name=".Garbage"
            android:exported="true" />
        <activity
            android:name=".AfterSubmission"
            android:exported="true" />
        <activity
            android:name=".Pothole"
            android:exported="true" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>