body {
    background-color: #eee
}

.card {
    width: 100%;
    border: none;
    position: relative
}





.user-image img {
    margin-right: 8px
}

.date {
    font-weight: 300;
    font-size: 13px
}

.form-control {
    box-shadow: none !important
}

.form-control:focus {
    border: 1px solid blue
}

.content {
    font-size: 14px
}