body {
    background-color: #eee
}

.card {
    width: 100%;
    border: none;
    position: relative
}


.user-image img {
  margin-right: 10px;
  border-radius: 8px;
  width: 40px;
  height: 45px;
}
.date {
    font-weight: 300;
    font-size: 13px
}
.content {
    font-size: 14px
}